# -----------------------------
# Angular
# -----------------------------
auth-ui/node_modules/
auth-ui/dist/
auth-ui/.angular/

# -----------------------------
# .NET
# -----------------------------
AuthAPI/bin/
AuthAPI/obj/

# -----------------------------
# OS / IDE
# -----------------------------
.vscode/
.idea/
.DS_Store
Thumbs.db

# -----------------------------
# Logs
# -----------------------------
*.log
